main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 600px;
}

img {
  height: 200px;
  width: auto;
}

button {
  background-color: #333;
  border-radius: 4px;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: all ease-in-out 150ms;
}

button:hover {
  background-color: #444;
}
