.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters span {
  display: flex;
  align-items: center;
  gap: 8px;
}

.price-filter input {
  appearance: none;
  padding: 0;
}

.price-filter input::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 12px;
  border-radius: 2px;
  background: teal;
}
